<div class="row">&nbsp</div>
<div class="row">
	<div class="large-4 medium-4 small-12 columns">
		<%= image_tag @user.avatar.url(:medium) %>
	</div> <!-- end column -->
	<div class="large-3 medium-3 small-12 columns">
	 <h1 id="users-name"><%= @user.full_name %></h1>
		<p> <%= @user.email %> </p>
		<p> <%= @user.bio %></p>
	</div> <!-- end column -->
	<div class="large-5 medium-5 small-12 columns">
		<h3>Donation Achievements</h3>
				<%  total_each_project = @user.contributions.sum(:amount_in_dollars, :group => :project_id) %>
			<table>
				<thead><td>Project</td><td>Donations</td><td>Status</td>  </thead>
				<% total_each_project.each do |tep| %>
						<% project = Project.find_by(:id => tep[0]) %>
					<% bp_array = project.breakpoints.map { |x| x.breakpoint_amount } %> 
					<% bp_sorted_array = bp_array.sort.reverse %> 
					<% bp_sorted_array.each do |bp_amount| %>
						<% if (tep[1] >= bp_amount) %>
							<tr>
							<td><%= project.title %></td>
							<td>$<%= tep[1] %></td>
								<% breakpoint = Breakpoint.find_by(:breakpoint_amount => bp_amount) %>
							<td><%= breakpoint.breakpoint_name %></td>
							</tr>
						<% break %>
						<% end %>
					<% end %>
			<% end %>
		</table>
	</div>


	</div> <!-- end row -->
	
	
<hr>
<div class="row">
	<div class="large-3 columnslo">
		<div class="panel left">
		<h6>Total Contributions:</h6>
		<h3>$<%= number_with_delimiter(@user.user_total_contributions, :delimiter => ',') %></h3> 
		</div>
	</div>
	
<div class="large-2 medium-2 small-6 columns">
	<% if !current_user %>
				<%= link_to "Log in to Contact #{@user.first_name}", new_session_path, class: "button small" %>
		</div> <!-- end column if not user-->

		<div class="large-7 medium-7 small 6 columns">&nbsp</div>

	<% elsif current_user.id != @user.id %>
			<div class="button small">Contact User</div>
		</div> <!-- end column if user-->
		<div class="large-7 medium-7 small-6 columns">&nbsp</div>
	

	<% elsif current_user.id == @user.id %>
			<%= link_to "create project", new_project_path, class: "button small" %>
		</div> <!-- end column - its users page -->
		<div class="large-2 medium-2 small-6 columns">
			<%= link_to "Edit My Information", edit_user_path(@user), class: "button small" %>
		</div>
		<div class="large-5 medium-5 small-6 columns">&nbsp</div>
	<% end %>
</div> <!-- end row -->



<hr>
<div class="row">

	<div class="large-6 medium-6 small-12 columns">
		<h2>My Contributions</h2>
		<% x = 1 %>

		<table class="my-contributions">	
		<thead> <td></td> <td>Project</td> <td>contribution</td> </thead>
		
			<% @user.contributions.each do |contribution| %>
				<% project = Project.where(:id => contribution.project_id) %>
				<% project.each do |proj| %>
					<tr>
						<td><%= x %></td>
						<td><%= proj.title %></td>
				<% end %>
						<td> $<%= number_with_delimiter(contribution.amount_in_dollars, :delimiter => ',') %> </td> 
					</tr>
				<% x+=1 %>
			<% end %>
		</table>
	</div>
	
	<div class="large-6 medium-6 small-12 columns">
  
		
  	<h2>My Projects</h2>
    <h4>Active Projects</h4>

    <table class="active-projects">
      <thead> <td>Project</td> <td> % </td> <td> End Date</td> </thead>
        <% @user.projects.each do |project| %>
            <% if project.public_date < Date.today %>
							<tr>
                 <td><%= link_to "/projects/#{project.id}" do %> <%= project.title %> <% end %></td>
								<td> <%= project.percentage_of_goal %>% </td>
								<td> <%= project.finish_date.strftime('%b. %e, %Y') %> <!-- end link --> </td>
							</tr>            
          <% end %>
        <% end %>
    </table>

    <h4>Future Projects </h4>

    <table class="future-projects">
      <thead> <td>Project</td> <td> Start Date </td> <td> Goal</td> </thead>
        <% @user.projects.each do |project| %>
          <% if project.public_date > Date.today %>
            <tr>
              <td><%= link_to "/projects/#{project.id}" do %><%= project.title %> <% end %> </td> 
              <td><%= project.public_date.strftime('%b. %e, %Y') %></td>
              <td>$<%= project.goal_in_dollars %></td>
            </tr>
          <% end %>
      <% end %>
    </table>
     <h4>Completed Projects</h4>
			<table class="completed-projects">
      <thead> <td>Project</td> <td> % </td> <td> End Date</td> </thead>
        <% @user.projects.each do |project| %>
            <% if project.finish_date < Date.today %>
							<tr>
                 <td><%= link_to "/projects/#{project.id}" do %> <%= project.title %> <% end %></td>
								<td> <%= project.percentage_of_goal %>% </td>
								<td> <%= project.finish_date.strftime('%b. %e, %Y') %> <!-- end link --> </td>
							</tr>            
          <% end %>
        <% end %>
    </table>
	</div>

	<div class="row">
		<div class="large-6 medium-6 small-12 columns">
			

		
		</div>


	My projects: <% @user.projects.each do |proj| %>
		<%= proj.title %>
	<% end %>






<!-- def self.total_funded
      funded = 0
        grouped_by =  Contribution.sum(:amount_in_dollars, :group => :project_id)
    grouped_by.each do |gp|
      Project.all.each do |proj|
          if proj.id == gp[0]
            if proj.goal_in_dollars <= gp[1]
              funded +=1
            end
          end
      end 
    end
      return funded
    end
 -->
	</div>
</div> <!-- end row -->
<hr>

