<div class="row">
	<%= form_for @project do |f| %>
		<% if @project.errors.any? %>
			<div class="row errors">
				<div class="large-6 medium-6 small-12 columns">
					<h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

					<ul>
						<% @project.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>
				</div> <!-- end large -->
			</div> <!-- end row -->
		<% end %>

		<div class="large-6 medium-6 small-12 columns">
			<%= f.label :title %><br />
			<%= f.text_field :title %>

			<%= f.label :category_id %>
			<%= f.collection_select :category_id, Category.all, :id, :category_name %>

			<%= f.label :description %><br />
			<%= f.text_area :description %>

			<%= f.label :goal_in_dollars %><br />
			<%= f.text_field :goal_in_dollars %>

			<%= f.label :start_date %><br />
			<%= f.date_field :start_date %>

			<%= f.label :finish_date %><br />
			<%= f.date_field :finish_date %>

			<%= f.label :public_date %><br />
			<%= f.date_field :public_date %>

			<%= f.hidden_field :owner_id, :value => current_user.id %>

			<%= f.submit "Create Project", class: "button small" %>
		</div> <!-- end columns -->
	<% end %>
</div>
