<div class="site-stats">
	<div class="row">
		<div class="large-12 medium-12 small-12 columns">
			<div class="main-title"> Crowdfunder</div>
			<div class="sub-title"><h2>the place to raise money to fulfil your dreams</h2></div>
				<div class="row">
					<div class="large-3 medium-3 small-6 columns stats-content panel">
						<span class="achievement-title">Money Raised:</span> 
						<h1>$<%= number_with_delimiter( Contribution.all.sum(:amount_in_dollars), :delimiter => ',') %></h1>
					</div>
					<div class="large-3 medium-3 small-6 columns stats-content panel">
						<span class="achievement-title">Fully Funded Projects:</span>  
						<h1><%= Contribution.with_completed_goals.count %></h1>
					</div>
					<div class="large-3 medium-3 small-6 columns stats-content panel">
						<span class="achievement-title">Total Contributions:</span>  
						<h1><%= Contribution.all.count(:amount_in_dollars) %></h1>
					</div>
					<div class="large-3 medium-3 small-6  columns stats-content panel">
						<span class="achievement-title">Contributors:</span>  
						<h1><%= Contribution.all.distinct.count(:user_id) %></h1>
					</div>
				</div> <!-- end row under main -->
			</div>
		</div>
	</div>


<div class="row">
	<div class="large-12 columns centered">
		 newest projects
	</div>
</div>
		



<div class="row">
	
	<% @projects.each do |project| %>
		<% if project.public_date < Date.today %>
				<%= link_to "/projects/#{project.id}" do %>
					<div class="large-2 medium-2 small-5 columns centered space">
						<h6><%= project.title  %></h6>
						<div class="owner-name"> <h6>by <%= project.owner.full_name %></h6></div>
						<p class="front-description">

							<%= truncate(project.description, length: 100) %> </p>
						<p class="front-description">
							Date: <%= project.finish_date.strftime('%b. %e') %> </p>		
						<h6>Contributions:</h6>
						<h6>$<%= number_with_delimiter( project., :delimiter => ',') %></h6>
<div class="progress success round">
  <span class="meter" style="width: <%= project.max_percentage %>%;"></span>
</div>
						 <br> 
					</div>
				<% end %>
			<% end %>
		<% end %>

</div> <!-- end row -->





