<div class="site-stats">
	<div class="row">
		<div class="large-12 medium-12 small-12 columns">
			<div class="main-title"> Crowdfunder</div>
			<div class="sub-title"><h2>the place to raise money to fulfil your dreams</h2></div>
				<div class="row">
					<div class="large-3 columns stats-content panel">
						<span class="achievement-title">Money Raised:</span> 
						<h1>$<%= number_with_delimiter( Contribution.all.sum(:amount_in_dollars), :delimiter => ',') %></h1>
					</div>
					<div class="large-3 columns stats-content panel">
						<span class="achievement-title">Fully Funded Projects:</span>  
						<h1><%= Contribution.with_completed_goals.count %></h1>
					</div>
					<div class="large-3 columns stats-content panel">
						<span class="achievement-title">Total Contributions:</span>  
						<h1><%= Contribution.all.count(:amount_in_dollars) %></h1>
					</div>
					<div class="large-3 columns stats-content panel">
						<span class="achievement-title">Contributors:</span>  
						<h1><%= Contribution.all.distinct.count(:user_id) %></h1>
					</div>
				</div> <!-- end row under main -->
			</div>
		</div>
	</div>


<div class="row">
	<div class="large-12 columns centered">
		 newest projects
	</div>
</div>
		



<div class="row">
	
	<% @projects.each do |project| %>
		<% if project.public_date < Date.today %>
				<%= link_to "/projects/#{project.id}" do %>
					<div class="large-5 medium-5 small-12 columns centered panel space">
						<h4><%= project.title  %></h4>
						Total Raised: $<%= project.total_contributions_per_project %> <br> 
						<%= truncate(project.description, length: 100) %> <br>
						Goal Date: <%= project.finish_date.strftime('%b. %e') %> <br>

						public date	<%= project.public_date.strftime('%b. %e') %> <br>
						by <%= project.owner_first_name %>

						cats&tag
					</div>
				<% end %>
			<% end %>
		<% end %>

</div> <!-- end row -->

