<h1>Projects#show</h1>
	<%= @project.title %> <br>
				<%= @project.goal_in_dollars %> <br>
				<%= @project.start_date %> <br>
				<%= @project.finish_date %> <br>

				
			<%= @project.owner_id %> <br>
			<%= @owner.first_name %>