<hr>
<div class="row"><h1><%= @project.title %></h1>

	<div class="large-6  left medium-6 small-12 columns"> 
    <h5><%= @project.category.category_name %></h5>
		<p><%= @project.description %> </p> 

		<div class="dates">
			<h6>Start:</h6> <h4><%= @project.start_date.strftime('%b. %e, %Y') %></h4>
		</div>
			<div class="dates">
			<h6>End:</h6> <h4><%= @project.finish_date.strftime('%b. %e, %Y') %></h4>

		<%= @project.days_until_close %>
		</div>
		<hr>

		<div class="row">
			<% if current_user %>
				<div class="button small" id="make-contribution">Make a Contribution</div> 
					<% if current_user.id == @project.owner_id %>
						<div class="button small">Edit Project</div>
						<div class="button small" id="make-breakpoint">Add Breakpoint</div>
					<% end %>
				<% end %>
		</div> <!-- end row -->

		<div class="row" id="contribution-form">
			<hr width="80%">
			<% if current_user %>
				<%= form_for ([@project, @contribution])   do |f| %>
					<% if @contribution.errors.any? %>
						<div class="row">
							<h2><%= pluralize(@contribution.errors.count, "error") %> prohibited this contribution from being saved:</h2>
							<ul>
								<% @contribution.errors.full_messages.each do |msg| %>
									<li><%= msg %></li>
								<% end %>
							</ul>
						</div> <!-- end error row -->
					<% end %>

					<div class="large-8 medium-8 small-12 columns">
						<%= f.label "How much would you like to Contribute?" %>
						<%= f.text_field :amount_in_dollars, placeholder: "Amount in Dollars" %>
										
						<%= f.hidden_field :project_id, :value => @project.id %>
						<%= f.hidden_field :user_id, :value => current_user.id %>

						<%= f.submit "submit", class: "button small" %>
					</div> <!-- end large-8 -->
				<% end %><!--  end form contribution -->
			<% end %>
		</div> <!-- end contribution div -->

		<div class="row" id="breakpoint-form">
		<hr>
		<%= form_for ([@project, @breakpoint])   do |f| %>
			<% if @breakpoint.errors.any? %>
				<div class="row">
					<h2><%= pluralize(@breakpoint.errors.count, "error") %> prohibited this contribution from being saved:</h2>
					<ul>
						<% @breakpoint.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>
				</div> <!-- end error row -->
			<% end %>

			<div class="large-8 medium-8 small-12 columns">
				<%= f.label "What breakpoint thresholds would you like?" %>
				<%= f.text_field :breakpoint_name, placeholder: "Breakpoint Name" %>
				<%= f.text_field :breakpoint_amount, placeholder: "Amount" %>
									
				<%= f.hidden_field :project_id, :value => @project.id %>

				<%= f.submit "submit", class: "button small" %>
			</div> <!-- end large-8 -->
		<% end %><!--  end form breakpoint -->

	</div> <!-- end breakbpoint div -->


	</div> <!-- end 6 -->
	
	<div class="large-6 medium-6 small-12 columns">
		<div class="row">
		<div class="project-stats panel">
		 <h6>Goal:</h6> <h2>$<%= @project.goal_in_dollars %></h2>
		</div>
		<div class="project-stats panel">
		<h6>To Date:</h6> <h2>$<%= @project.total_contributions_per_project %></h2>
		</div>

		</div>

		<div class="row">
		<div class="percentage panel">
		<%= @project.percentage_of_goal %>%

		</div>
		</div>

<div class="progress success round">
  <span class="meter" style="width: <%= @project.max_percentage %>%;"></span>
</div>



		
		<hr>
		<div class="row owners-info">
			<h5>Project Owner</h5>
 			<%= link_to "/users/#{@project.owner_id}" do %>
				<div class="large-3 columns">
					<%= image_tag @project.owner.avatar.url(:thumb) %>
				</div>
				<div class="large-9 columns">
					<h6><%= @project.owner.full_name %></h6>
					<p> <%= truncate(@project.owner.bio, length: 70) %>
				</div> 
			<% end %>
		</div>
	</div>
	
	<div class="row comments">

  <h3>Reviews</h3>

  <% @project.reviews.each do |review| %>
    <p>
      <%= review.comment %>
      <br>
      <% if review.user != nil %>
        <em> by <%= review.user.full_name %></em>
        Added on: <%= review.created_at %>
      <% end %>
    </p>
  <% end %>

<% if current_user %>
<h4>New Review</h4>

  <%= form_for([@project, @review]) do |f| %>
  

    <% if @review.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

        <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :comment %><br />
      <%= f.text_area :comment %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>


    <% else %>
  <p>Please <%= link_to "log in", new_session_path %> to add a review.</p> 
<% end %>

	</div>
</div>  <!-- end big row -->
<hr>
