<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "CROWDFUNDER" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
  </head>

<div class="row">
  <header class="large-12 columns">
    <%= link_to "Crowdfunder", root_url %>


      <% if current_user %>
      <ul class="user_area">
        <li><%= current_user.email %></li>
        <ul class="drop_user_action">
            <li> <%= link_to "Profile", user_path(current_user) %> </li>
            <li> <%= link_to "Logout", logout_path %> </li>
          </ul>
      </ul>

  <% else %>
  <%= link_to "Sign up", signup_path %> or
  <%= link_to "log in", login_path %>.
  <% end %>


  </header>
</div>  

<body>

<div class="row">
  <div class="large-12 columns">  
    <%= yield %>
  </div>
</div>

<div class="row">
  <footer class="large-12 columns">
    footer
  </footer>
</div>

</body>
</html>
