<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "CROWDFUNDER" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
  </head>


  <header>
<div class="row">
        <div class="large-8 columns">
          <%= link_to "Crowdfunder", root_url %>
        </div>

        <div class="large-4 columns user-area">
        <% if current_user %>
          <%= current_user.email %>

          <%= link_to "Profile", user_path(current_user) %> <br>
          <%= link_to "Logout", logout_path %> 

          <% else %>
          <%= link_to "Sign up", signup_path %> or
          <%= link_to "log in", login_path %>.
          <% end %>
        </div>
        </div> 
  </header>
 

<body>

<div class="row">
  <div class="large-12 columns">  
    <%= yield %>
  </div>
</div>

<div class="row">
  <footer class="large-12 columns">
    footer
  </footer>
</div>

</body>
</html>
